{% extends "admin/base.html" %}
{% from "admin/partials/forms.html" import render_form %}
{% from "admin/partials/table.html" import render_table %}
{% block content %}
{% if success_panel %}
<div class="alert alert-success mb-4">
    <div class="fw-semibold mb-1">{{ success_panel.title }}</div>
    {% for line in success_panel.lines %}
    <div>{{ line }}</div>
    {% endfor %}
</div>
{% endif %}
<div class="row g-4">
    <div class="col-12 col-xl-4">
        {% if filters_form %}
        {{ render_form(filters_form, csrf_token) }}
        {% endif %}
        {% if create_form %}
        {{ render_form(create_form, csrf_token) }}
        {% endif %}
    </div>
    <div class="col-12 col-xl-8">
        {{ render_table(table) }}
    </div>
</div>
{% endblock %}
